<?xml version="1.0" encoding="UTF-8" standalone="no"?><plugin><extension point="org.mule.tooling.core.contribution"><externalContribution contributionJar="mule-module-facebook-2.3.2-SNAPSHOT.jar" contributionJavaDocs="mule-module-facebook-2.3.2-SNAPSHOT-javadoc.jar" contributionLibPathInMule="/plugins" contributionLibs="mule-module-facebook-2.3.2-SNAPSHOT.zip" contributionNamespace="http://www.mulesoft.org/schema/mule/facebook" contributionNamespaceFile="http://www.mulesoft.org/schema/mule/facebook/current/mule-facebook.xsd" contributionNamespacePrefix="facebook" contributionSources="mule-module-facebook-2.3.2-SNAPSHOT-sources.jar" contributionType="cloud-connector" contributionVersion="2.3.2-SNAPSHOT" minimumVersion="3.5" name="Facebook" path="editors.xml" version="2.3.2-SNAPSHOT"/></extension></plugin>